
<h3> Welcome to Tiny App </h3>


<%if (email) { %>
  <h4>Logged in as:</h4> <%= email %>
  <form method="POST" action="/logout">
  <input type="submit" value="Log Out"/>
  </form>
<% } else { %>
 <h4> Please register and/or log in to start shortening URLs: </h4>
  <a href="/login">Log In Here</a>
  <br>
  <a href="/register">Register Here</a>
<% } %>
  </form>