<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h3>Log In</h3>

<form action="/login" method="POST" style="margin:50px;">
      <label for="email">Enter your email:</label>
      <input id="email" type="email" name="email" placeholder="email" style="width: 300px">
        <br>

      <label for="password">Enter a password:</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <br>
      <input type="submit" value="Submit">
</form>
<h5 style="margin-left:50px;">Not registered? Click <a href="/register">here</a>.</h5>
</body>
</html>